onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=unrs-resolver
